---
import { StatsService } from '../lib/stats-service';
import { DataService } from '../lib/data-service';
import type { AttackerStats, AttackResult } from '../lib/stats-service';
import '../styles/index.css';

// Get all dinosaurs with slugs for linking
let data = new DataService();
let stats = new StatsService(data);
function round(num: number): number {
	return Math.round(num * 100) / 100
}
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Horus heresy weapons stats table</title>
	</head>
	<body class="index">
		<div class="container">
		<h1>Horus heresy weapons stats table</h1>
		{
			stats.table.map((atk: AttackerStats) => (
				<table class="table">
					<tbody>
						<tr>
							<th colspan="99">{atk.attacker.name}</td>
						</tr>
						<tr>
							<th>Weapon</th>
							<th>Target</th>
							<th>Mean kill per 10</th>
							<th>Mode first to kill one</th>
							<th>Mean pts to kill one</th>
							<th>Mean pts to kill 100pts</th>
						</tr>
						{
							atk.results.map((results: AttackResult) => <tr>
								<td>{results.weapon.name}</td>
								<td>{results.target.name}</td>
								<td>{round(results.stats.meanKilledPer10)}</td>
								<td>{round(results.stats.modeToKillOne)}</td>
								<td>{round(results.stats.meanPtToKillOne)}</td>
								<td>{round(results.stats.meanPtsKilledPer100pt)}</td>
							</tr>
						)}
					</tbody>
				</table>
			))
		}
		
		</div>
	</body>
</html>
